[package]
name = "tpi"
version = "1.0.1"
edition = "2021"
license = "Apache-2.0"
authors = ["Sven Rademakers <sven@turingpi.com>", "Ruslan Akbashev <ra@turingpi.com>"]
description = "CLI tool to control a Turing-Pi board"
homepage = "https://turingpi.com/"
repository = "https://github.com/turing-machines/tpi"

[dependencies]
anyhow = "1.0.75"
bytes = "1.5.0"
clap = { version = "4.4.7", features = ["derive", "wrap_help"] }
clap_complete = "4.4.4"
crossterm = "0.27.0"
dirs = "5.0.1"
indicatif = { version = "0.17.7", features = ["tokio"] }
reqwest = { version = "0.11.22", default-features = false, features = ["gzip", "json", "multipart", "stream"] }
serde_json = "1.0.108"
tokio = { version = "1.33.0", features = ["rt", "rt-multi-thread", "macros", "fs"] }
tokio-util = "0.7.10"
url = "2.4.1"

[features]
default = ["reqwest/rustls-tls"]
native-tls = ["reqwest/native-tls"]
localhost = []
